Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Config
/Content/Geometry/Meshes
/Content/InfinityBladeWarriors
/Content/Mannequin
/Content/StarterContent
/Content/ThirdPersonBP
/Content/ThirdPerson/Meshes
